.tabs {
    margin: 0;
    overflow: hidden;
    padding: 0;
    zoom: 1;
    position:relative;
    top:2px;
    z-index: 1;
}

.tabs li {
    display: block;
    list-style: none;
    margin: 0;
    margin-right: 1px;
    padding: 0;
    float: left;
}

.tabs li a {
    display: block;
    padding: 2px 10px;
    border: 2px solid #817bfc;
    border-bottom: 0 none;
    text-align: center;
    text-decoration: none;
}

.tab-section {
    background:#d4efff;
    padding: 10px;
    border: 2px solid #817bfc;
}

.tabs li a.current {
    background: #d4efff;
    color: #000;
    border-bottom: 2px solid #d4efff;
}

#add-asset{
    color: green;
}

.tablinks {
    margin: 0;
    overflow: hidden;
    padding: 0;
    zoom: 1;
    position:relative;
    top:2px;
    z-index: 1; 
    display: block;
    list-style: none;
    margin: 0;
    margin-right: 1px;
    padding: 0;
    float: left;
    display: block;
    padding: 2px 10px;
    border: 2px solid #252323;
    color: white;
    background-color: #252323;
    border-bottom: 0 none;
    text-align: center;
    text-decoration: none;
    border-radius: 5px 5px 0px 0px;
}