#blackBar{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:60px;
    background-color:black;
    z-index: -1;
 }

 #forgotPassword {
     padding-top: 50px;
     text-align: center;
     padding-right: 80px;
 }

 label {
    display: inline-block;
    width: 140px;
    text-align: right;
    font-weight: bold;
    color: #8D8D8D;
    font-style: "Arial";
    font-size: 18pt;
    padding-right: 10px;
  }​

 #forgotPasswordBtn {
     top: 50px;
     background-color: #F9F9F9;
     border-radius: 6px;
     color: black;
     font-weight: bold;
     margin-right: 40px;
     border-width: 2px;
     height: 30px;
     width: 60px;
 }

 #icon {
     max-height: 25px;
     max-width: 25px;
 }

 .field {
    border-radius: 6px;
    border-width: 1px;
    width: 300px;
    height: 25px;
 }

 body {
     background-color: #F0F0F0;
 }

 #login {
     text-align: center;
     padding-top: 30px;
     padding-right: 80px;
 }

 /* button {
     height: 35px;
     width: 300px;
     font-size: 18pt;
     font-style: Arial;
     font-weight: bold;
 } */
 

 h1 {
     text-align: center;
     padding-top: 200px;
 }